# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work
go.work.sum

#mac
.DS_Store

#environment
.env

# dependencies
/frontend/penney-wise/node_modules
/node_modules
/frontend/penney-wise/.pnp
/frontend/penney-wise/.pnp.js

# testing
/frontend/penney-wise/coverage

# production
/frontend/penney-wise/build

# misc
/frontend/penney-wise/.DS_Store
/frontend/penney-wise/.env.local
/frontend/penney-wise/.env.development.local
/frontend/penney-wise/.env.test.local
/frontend/penney-wise/.env.production.local

/frontend/penney-wise/npm-debug.log*
/frontend/penney-wise/yarn-debug.log*
/frontend/penney-wise/yarn-error.log*
